<div class="container-fluid">
    <ng-progress></ng-progress>
  <h2 class="text-center">Github Search</h2>
  <form>
    <div class="form-group">
        <label for="name">Username</label>
          <input class="form-control form-control-sm" type="text" id="inputSmall"
          #newUser (keyup.enter)="searchUser(newUser.value)">
        <br><br>
        <button type="submit" class="btn btn-info" (click)="searchUser(newUser.value)">Submit</button>
    </div>
    </form>
    <div>
    <p>Username:  {{user.username}}<img src="{{user.avatar}}" width="10%"></p>
    <p>Repositories:{{user.repos}}</p>
    <p>Followers:{{user.followers}}</p>
    <p>Following:{{user.following}}</p>
    <p>Created Github account: {{user.createdDate|date}}</p>
    <br>
  </div>
  <button type="submit" class="btn btn-info" (click)="displayRepo()">See Repos</button>
  <div *ngFor='let rep of repo'>
    <p>Reponame:  {{rep.reponame}}</p>
    <p>Description:{{rep.description}}</p>
    <p>Live link:{{rep.livelink}}</p>
  </div>
  
</div>